body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }
}

.active {
  background-color: indigo;
}

.alice-carousel {
  position: relative;
}

.alice-carousel__prev-btn-item {
  position: absolute;
  top: 190px;
  left: 0px;
  font-size: 3rem;
}

.alice-carousel__next-btn-item {
  font-size: 3rem;
  position: absolute;
  top: 190px;
  right: 0px;
  font-size: 3rem;
}

#splide01 .splide__slide {
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 100px;
}

#splide01 img {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100px;
  height: 94px;
  object-fit: cover;
  object-position: center;
  /* z-index: -10; */
}

#splide02 img {
  padding: 0px;
  margin: 0 auto;
  border: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-position: center; */
  /* z-index: -10; */
}

/* .thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}

.thumbnail.is-active {
  opacity: 1;
}

.thumbnail img {
  width: 100%;
  height: auto;
} */
